<carousel>
    <slide>
        <img src="assets/images/hero5.jpg" alt="first slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/hero6.jpg" alt="first slide" style="display: block; width: 100%">
    </slide>
    <slide>
        <img src="assets/images/hero4.jpg" alt="first slide" style="display: block; width: 100%">
    </slide>
</carousel>
<section>
    <div class="d-flex justify-content-center pt-4">
        <h1>Welcome to 5Cables!</h1>
    </div>
</section>